<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
</head>
<body>
<h1>Products</h1>
<table>
    <thead>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Action</th> <!-- New column -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.productID}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td>
            <a th:href="@{/products/assign(productID=${product.productID})}"
               th:text="Assign this product to another category"></a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/categories}">Back to category</a>
</body>
</html>